@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

tspan {
  white-space: pre
}

.shp0 {
  fill: #cc0000
}

.shp1 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 42
}

.shp2 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 32
}

.shp3 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 4.4
}

.shp4 {
  fill: #ffffff
}

svg#wagon {
  width: 200px;
  height: 200px;
}

#wagon tspan { white-space: pre }
#wagon .shp0 { fill: #fd1015 } 
#wagon .shp1 { fill: none; stroke: #ffffff; stroke-width: 1 }
#wagon .shp2 { fill: #ffffff; stroke: #ffffff; stroke-width: 1  } 

.squiggle {
  stroke-dasharray: 80;
  stroke-dashoffset: -20;
  animation: draw 3s linear forwards;
  animation-iteration-count: infinite;
}

@keyframes draw {
  to {
    stroke-dashoffset: 450;
  }
}

.gear {
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transform-origin: 63% 57%;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

.wheel-left {
  transform-origin: 31% 62.8%;
}
.wheel-right {
  transform-origin: 68% 63%;
}

.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bounce {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: bounce-1;
  animation-timing-function: ease;
}
@keyframes bounce-1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.textAnime {
  stroke-dasharray: 1050;
  stroke-dashoffset: 950;
  animation: textAnimate 4s linear infinite;
}

@keyframes textAnimate {
  to {
    stroke-dashoffset: 0;
    fill: #234366;
  }
}

.blk-right {
  transform-origin: 0 0;
}

.blk-left {
  transform-origin: 0 0;
}

.blk-top {
  transform-origin: 0 0;
}

